
.upperPart {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 1.5rem;

  @include onTablet {
    padding: 2.5rem 2rem;
  }

  @include onDesktop {
    padding: 2.5rem 4rem;
  }
  align-items: center;
  border-bottom: 0.1rem solid $colorGrey2;
}

.paymentSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price {
  color: $colorBlack;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-right: 1.5rem;
}


.buttonsList {
  list-style: none;
  display: flex;
}

.button {
  @extend %smooth-transition;
  background-color: $colorWhite;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;

  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 140%;
  color: $colorGrey4;
  border-bottom: 0.2rem solid transparent;

  @include onDesktop {
    font-size: 1.6rem;
    line-height: 180%;
  }
}

.buttonsListItem:not(:last-child) {
  margin-right: 1.8rem;

  @include onMobile {
    margin-right: 1.6rem;
  }
}


.button:hover {
  transform: scale(1.05);
}

.buttonActive {
  color: $colorBlack;
  border-bottom: 0.2rem solid $colorBlue3;
}

.buttonAddToCart {
  @extend %buttonBlueNew;
  width: 13rem;
  height: 4.5rem;
  margin-right: 1.7rem;
}

.buttonAddToCart:hover {
  background-color: $colorBlue1;
}

.buttonAddToCart:active {
  background-color: $colorBlue2;
}

.buttonPayPal {
  @extend %buttonYellow;
  width: 12.5rem;
  height: 4.5rem;
}

.buttonPayPal:hover {
  background-color: $colorYellow1;
}

.buttonPayPal:active {
  background-color: $colorYellow2;
}

.countBlock {
  display: flex;
  background-color: $colorWhite4;
  align-items: center;
  height: 4.5rem;
  width: 6.5rem;
  justify-content: center;
  margin-right: 2.5rem;
}

.countNumber {
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 210%;
  color: $colorBlack;
  margin-right: 1.5rem;
}

.arrows {
  display: flex;
  flex-direction: column;
}

.arrow {
  cursor: pointer;
  @extend %smooth-transition;
  outline: none;
  width: 0.5rem;
  height: 0.8rem;
  @extend %iconSizes;
  border: none;
}

.arrowUp {
  margin-bottom: 1rem;
  background-image: url(../../images/icons/countUp.svg);
}

.arrowDown {
  background-image: url(../../images/icons/countDown.svg);
}

.description {
  background-color: $colorWhite1;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.productSection {
  display: flex;
}

.navigation {
  margin-top: 5.5rem;
  margin-bottom: 2.5rem;
  @extend %smallNavigation;
}

.navigationLink {
  @extend %smooth-transition;
}

.navigationLink:hover {
  color: $colorBlue3;
}

.navigationLink:not(:last-child)::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  transform: translate(200%, 100%);
  border-left: 0.3rem solid $colorBlue3;
}

.navigationLink:last-child {
  opacity: 0.6;
}

.name {
  margin-bottom: 1.3rem;
  color: $colorBlack;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.8rem;
}

.reviewLink {
  display: inline-block;
  margin-bottom: 2.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: $colorBlue3;
}

.descriptionText {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  color: $colorBlack;
  margin-bottom: 4rem;
}

.colorsList {
  list-style: none;
  display: flex;
}

.buttonChooseColor {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.2rem solid $colorWhite5;
  cursor: pointer;
}

.buttonChooseColorContainer {
  border: 0.2rem solid $colorWhite5;
  border-radius: 50%;
  @extend %smooth-transition;
}

.buttonChosenColorActive {
  border: 0.2rem solid $colorBlue3;
}


.colorsListItem:not(:last-child) {
  margin-right: 2rem;
}

.buttonDarkGreyColor {
  background-color: $colorGrey5;
}

.buttonWhiteColor {
  background-color: $colorWhite6;
}

.buttonGreyColor {
  background-color: $colorGrey6;
}


