@import '../utils/variables.scss';
@import '../utils/mixins.scss';
@import '../utils/placeholders.scss';

.mainBlock {
  display: grid;
  @include onMobile {
    display: block;
  }
  grid-template-columns: 1fr 1fr;
  color: $colorBlack;
  @include onDesktop {
    justify-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 35rem;
  @include onMobile {
    margin-bottom: 2.4rem;
  }

  &Input {
    min-width: 35rem;
    min-height: 4rem;
    border: 0.1rem solid $colorGrey1;
    border-radius: 0.4rem;
    outline: none;
    padding-left: 1.5rem;
    @include onDesktop {
      padding-left: 1.7rem;
    }
    @extend %smooth-transition;
    color: $colorBlack;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem;

    @include onDesktop {
      font-size: 1.4rem;
      min-height: 5rem;
    }
  }

  &Input::placeholder {
    @extend %smooth-transition;
    color: $colorGrey1;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem;

    @include onDesktop {
      font-size: 1.4rem;
    }
  }

  &Input:focus {
    border: 0.1rem solid $colorBlue3;
  }

  @include onDesktop {
    min-width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
  }
}

.textarea {
  min-width: 35rem;
  font-family: "Poppins", sans-serif;

  @include onDesktop {
    min-width: 73rem;
    min-height: 22rem;
  }
  border: 0.1rem solid $colorGrey1;
  border-radius: 0.4rem;
  outline: none;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  @include onDesktop {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
  @extend %smooth-transition;

  color: $colorBlack;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;

  @include onDesktop {
    font-size: 1.4rem;
  }
}

.textarea::placeholder {
  @extend %smooth-transition;
  color: $colorGrey1;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
  

  @include onDesktop {
    font-size: 1.4rem;
  }
}

.textarea:focus {
  border: 0.1rem solid $colorBlue3;
}

.inputBlock {
  display: inline-block;
  margin-bottom: 0.5rem;
  @include onDesktop {
    margin-right: 3rem;
    margin-bottom: 1rem;
  }
}

.inputBlock:last-of-type{
  margin-bottom: 1.2rem;
  @include onDesktop {
    margin-bottom: 1.6rem;
  }
}

.navigation {
  @extend %smallNavigation;

  margin-top: 2.1rem;
  margin-bottom: 1.9rem
}

.navigationLink {
  @extend %smooth-transition;
}

.navigationLink:first-child::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  transform: translate(200%, 100%);
  border-left: 0.3rem solid $colorBlue3;
}

.navigationLink:hover {
  color: $colorBlue3;
}

.title {
  @extend %pageTitle;
}

.description {
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin-bottom: 1.4rem;
  @extend %smooth-transition;

  @include onDesktop {
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 2.1rem;
  }
}

.inputTitle {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 210%;
  color: $colorBlack;
  @extend %smooth-transition;

  @include onDesktop {
    font-size: 1.3rem;
  }
}

.buttonSubmit {
  @extend %buttonBlue;
  max-width: 13rem;
}

.buttonSubmit:hover {
  background-color: $colorBlue1;
}

.buttonSubmit:active {
  background-color: $colorBlue2;
}

.shop {
  &Info{
    &List {
      list-style: none;

      &Item {
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.6rem;
        color: $colorBlack;
        position: relative;

        @include onDesktop {
          font-size: 1.3rem;
          line-height: 2rem;
        }
      }

      &Item:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &Title {
      font-style: normal;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: $colorBlack;

      @include onDesktop {
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }
  }

  &Block {
    background-color: $colorWhite1;
    max-height: 33rem;
    min-width: 31rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 6.5rem;

    @include onTablet {
      max-width: 33rem;
    }

    @include onDesktop {
      max-height: 40rem;
      min-width: 41rem;
      padding-bottom: 6rem;
    }

    @include onMobile {
      margin-bottom: 2.8rem;
    }
  }
}

.icon {
  font-size: 2.5rem;
  position: absolute;
  transform: translate(-170%, -120%);
  width: 2rem;
  height: 2rem;
}

.iconBlock {
  font-size: 3rem;
  width: 2rem;
  height: 2rem;
}

.email {
  color: $colorBlue3;
}

.error {
  color: $colorDanger;
  font-size: 1.1rem;
  @include onDesktop {
    font-size: 1.3rem;
  }
}
