.section {
  min-width: 23rem;
  background-color: $colorWhite;
  max-height: 0;
  overflow: hidden;
  @extend %smooth-transition;
  display: inline-block;

  position: absolute;
  top: 100%;
  z-index: 6;
  transform: translateX(-85%);
}

.visible {
  max-height: 18rem;
  padding-left: 2.6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section::before {
  content: '';
  display: inline-block;
  border-radius: 0.3rem;
  position: absolute;
  right: 10%;
  transform: translateY(-130%);
  top: 1%;
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  
  border-bottom: 0.5rem solid $colorWhite;
}

.list {
  list-style: none;

  &Item {
    font-style: normal;
    font-weight: $fontWeightBold;
    font-size: 1.2rem;
    line-height: 240%;

    @include onTablet {
      font-size: 1.4rem;
      line-height: 200%;
    }

    @include onDesktop {
      font-size: 1.4rem;
      line-height: 200%;
    }
  }
}

.menuLink {
  @extend %smooth-transition;
}

.menuLink:hover {
    color: $colorBlue5;
    display: inline-block;
    transform: scale(1.05);
}
