@import '../utils/variables.scss';
@import '../utils/mixins.scss';
@import '../utils/placeholders.scss';

.section {

}

.block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;



  @include onTablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem 0;
  }
}

.invisibleLaptops {
  display: none;
}

.invisibleComputers {
  display: none;
}

.invisibleMonitors {
  display: none;
}

.buttons {
  margin-bottom: 2.3rem;

  @include onMobile {
    margin-bottom: 1.4rem;
  }
}

.button {
  @extend %smooth-transition;
  background-color: $colorWhite;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;

  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 140%;
  color: $colorGrey4;

  @include onDesktop {
    font-size: 1.6rem;
    line-height: 180%;
  }
}

.button:not(:last-child) {
  margin-right: 1.8rem;

  @include onMobile {
    margin-right: 1.6rem;
  }
}

.button:hover {
  transform: scale(1.05);
}

.buttonActive {
  color: $colorBlack;
  border-bottom: 0.2rem solid   $colorBlue3;
}
