.section {
  margin-bottom: 2.7rem;

  @include onDesktop {
    margin-bottom: 4rem;
  }
}

.navigation {
  @extend %smallNavigation;
}

.navigationLink {
  @extend %smooth-transition;
  color: $colorBlack;
}

.navigationLink:first-child::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  transform: translate(200%, 100%);
  border-left: 0.3rem solid $colorBlue3;
}

.navigationLink:hover {
  color: $colorBlue3;
}

.title {
  @extend %pageTitle;
}

.mainBlock {
  display: flex;
  justify-content: center;
  gap: 3rem;

  @include onMobile {
    display: block;
    width: 100%;
  }
}

.signInBlock {
  background-color: $colorWhite1;
  width: 100%;
  padding-top: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3.2rem;
  @extend %smooth-transition;

  @include onTablet {
    width: 34.5rem;
  }

  @include onDesktop {
    width: 53rem;
    height: 43rem;

    padding-top: 3.7rem;
    padding-left: 5.2rem;
    padding-right: 5.2rem;
    padding-bottom: 3.5rem;
  }

  @include onMobile {
    margin-bottom: 2.4rem;
  }
}

.registerBlock {
  background-color: $colorWhite1;
  width: 100%;
  padding-top: 2.5rem;
  padding-left: 2rem;
  padding-bottom: 3.2rem;
  @extend %smooth-transition;

  @include onTablet {
    width: 34.5rem;
    height: 28rem;
  }

  @include onDesktop {
    width: 53rem;
    height: 43rem;
    padding-top: 3.7rem;
    padding-left: 5.2rem;
    padding-bottom: 0;
  }
}

.subtitle {
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: $colorBlack;
  @extend %smooth-transition;

  @include onDesktop {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  margin-bottom: 2.2rem;
}

.additionalInfo {
  font-style: normal;
  font-weight: $fontWeightLight;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: $colorBlack;
  margin-bottom: 1.6rem;
  @extend %smooth-transition;

  @include onDesktop {

    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 3rem;
  }
}

.benefitsTitle {
  @extend %smooth-transition;
  font-style: normal;
  font-weight: $fontWeightLight;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: $colorBlack;
  margin-bottom: 2rem;

  @include onDesktop {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.benefitsList {
  margin-bottom: 2.2rem;
  margin-left: 1.5rem;

  @include onDesktop {
    margin-bottom: 3.4rem;
  }

  &Item {
    @extend %smooth-transition;
    font-style: normal;
    font-weight: $fontWeightLight;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: $colorBlack;

    @include onDesktop {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}

.linkCreateAccount {
  @extend %smooth-transition;
  @extend %buttonBlue;
  display: inline-block;
  width: 18rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: 1.3rem;
  line-height: 2rem;
  color: $colorWhite;

  @include onDesktop {
    font-size: 1.4rem;
    line-height: 2.1rem;
    width: 20rem;
    height: 5rem;
  }
}

.linkCreateAccount:hover {
  color: $colorWhite;
  background-color: $colorBlue1;
}

.linkCreateAccount:active {
  background-color: $colorBlue2;
}

.inputTitle {
  font-weight: $fontWeightSemiBold;
  font-size: 1.1rem;
  line-height: 210%;
  color: $colorBlack;
  @extend %smooth-transition;

  @include onDesktop {
    font-size: 1.3rem;
  }
}

.label {
  width: 100%;
}

.formInput {
  width: 100%;
  height: 3.5rem;
  border: 0.1rem solid $colorGrey1;
  border-radius: 0.4rem;
  outline: none;
  padding-left: 1.5rem;
  @include onDesktop {
    padding-left: 1.7rem;
    height: 4rem;
  }
  @extend %smooth-transition;
  color: $colorBlack;
  font-style: normal;
  font-weight: $fontWeightLight;
  font-size: 1.2rem;
  line-height: 2rem;

  @include onDesktop {
    font-size: 1.4rem;
    min-height: 5rem;
  }
}

.formInput:focus {
  border: 0.1rem solid $colorBlue3;
}

.formInput::placeholder{
  @extend %smooth-transition;
  color: $colorGrey1;
  font-style: normal;
  font-weight: $fontWeightLight;
  font-size: 1.2rem;
  line-height: 2rem;

  @include onDesktop {
    font-size: 1.4rem;
  }
}

.inputBlock:first-child {
  margin-bottom: 0.7rem;
}

.inputBlock:not(:first-child) {
  margin-bottom: 1.6rem;

  @include onDesktop {
    margin-bottom: 2.7rem;
  }
}

.buttonSignIn {
  @extend %smooth-transition;
  @extend %buttonBlue;
  margin-right: 2rem;

  @include onExtraSmallMobile {
    margin-bottom: 1rem;
  }
}


.buttonSignIn:hover {
  background-color: $colorBlue1;
}

.buttonSignIn:active {
  background-color: $colorBlue2;
}

.forgetPassword {
  font-style: normal;
  font-weight: $fontWeightRegular;
  font-size: 1.1rem;
  line-height: 2rem;
  color: $colorBlue3;
  @extend %smooth-transition;

  @include onDesktop {
    font-size: 1.4rem;
  }
}

.forgetPassword:hover {
  color: $colorBlue1;
}

.forgetPassword:active {
  color: $colorBlue2;
}

.error {
  color: $colorDanger;
  font-size: 1.1rem;
  @include onDesktop {
    font-size: 1.3rem;
  }
}

.signInPart {
  display: flex;
  align-items: center;

  @include onExtraSmallMobile {
    flex-wrap: wrap;
  }
}