.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image {
  margin-bottom: 1rem;
}

.description {
  color: $colorBlack;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  max-width: 18rem;

  margin-bottom: 1rem;
}

.date {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $colorGrey1;
}
