.cartProductListItem {
  border-top: 0.1rem solid $colorGrey2;
  border-bottom: 0.1rem solid $colorGrey2;
  padding-bottom: 1.4rem;
  padding-top: 1.6rem;

  @include onDesktop {
    padding: 2.5rem 0;
  }
}

.cartProductListItem:first-child {
  border-top: none;
  padding-top: 0;

  @include onDesktop {
    border-top: 0.1rem solid $colorGrey2;
    padding-top: 2.5rem;
  };
}

.cartProductListItem:not(:first-child) {
  overflow: hidden;
}

.subSectionTitle {
  position: absolute;
  top: -2rem;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  color: $colorBlack;
  font-size: 1.1rem;
  line-height: 1.6rem;
  @extend %smooth-transition;

  @include onDesktop {
    font-size: 1.4rem;
    line-height: 2.1rem;
    top: -5rem;
  }
}

.hiddenOnMobileAndTablet {
  display: none;

  @include onDesktop {
    display: inline-block;
  }
}

.cartProductBlock {
  display: flex;
  flex-wrap: wrap;
  @extend %smooth-transition;
  justify-content: space-between;

  @include onDesktop {
    display: flex;
    flex-wrap: nowrap;
  }
}

.cartProductDescriptionAndImage {
  display: flex;
  margin-bottom: 3.7rem;
  position: relative;
  @extend %smooth-transition;

  @include onDesktop {
    margin-right: 2.5rem;
  }
}

.cartProductDescription {
  max-width: 75%;
  font-style: normal;
  font-weight: $fontWeightRegular;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $colorBlack;

  @extend %smooth-transition;
  @include onDesktop {
    font-size: 1.4rem;
    line-height: 2.1rem;
    max-width: 26rem;
  }
}

.cartProductImage {
  max-width: 7rem;
  max-height: 7rem;
  margin-right: 1.8rem;
  @extend %smooth-transition;

  @include onDesktop {
    max-width: 14rem;
    max-height: 10rem;
    margin-right: 2.5rem;
  }
}

.cartProductPriceBlock {
  position: relative;
  @extend %smooth-transition;

  @include onDesktop {
    margin-right: 5rem;
  }
}

.cartProductPrice {
  display: inline-block;
  min-width: 8rem;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: 1.2rem;
  line-height: 1.8rem;
  @extend %smooth-transition;

  @include onDesktop {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.quantityBlock {
  display: flex;
  background-color: $colorWhite4;
  align-items: center;
  height: 4.2rem;
  width: 5.6rem;
  justify-content: center;
  border-radius: 0.6rem;
  @extend %smooth-transition;

  @include onDesktop {
    height: 4.5rem;
    width: 6.5rem;
    margin-right: 5rem;
  }
}

.quantityBlockWrapper {
  position: relative;
}

.quantity {
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: 1.1rem;
  line-height: 2.3rem;
  color: $colorBlack;
  margin-right: 1.5rem;

  @include onDesktop {
    font-size: 1.3rem;
  }
}

.subtotalBlock {
  position: relative;

  @include onDesktop {
    margin-right: 6rem;
  }
}

.subtotal {
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: 1.2rem;
  line-height: 1.8rem;
  display: inline-block;
  min-width: 10rem;
  @extend %smooth-transition;

  @include onDesktop {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.arrows {
  display: flex;
  flex-direction: column;
}

.arrow {
  cursor: pointer;
  @extend %smooth-transition;
  outline: transparent;
  width: 0.5rem;
  height: 0.8rem;
  @extend %iconSizes;
  border: none;
}

.arrowUp {
  margin-bottom: 1rem;
  background-image: url(../../../images/icons/countUp.svg);
}

.arrowDown {
  background-image: url(../../../images/icons/countDown.svg);
}

.buttons {
  width: 2.6rem;
  height: 2.6rem;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  background-color: $colorWhite;

  @extend %smooth-transition;
  overflow: hidden;
}

.buttons:hover {
  filter: brightness(80%);
}

.buttonRemove {
  @extend %iconSizes;
  background-image: url('../../../images/icons/buttonRemove.svg');
  margin-bottom: 0.6rem;
}

.buttonEdit {
  @extend %iconSizes;
  background-image: url('../../../images/icons/buttonEdit.svg')
}

.userButtons {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 1.8rem;

  @include onDesktop {
    position: static;
  }
}
