.arrows {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  @extend %smooth-transition;
  overflow: hidden;

  @include onDesktop {
    height: 2rem;
    width: 2rem;
  }
}

.prevArrow {
  border-bottom: 3px solid;
  border-left: 3px solid;
  transform: rotate(45deg);
  position: absolute;
  z-index: 5;
  left: 2%;
  top: 50%;
  border-color: $colorGrey3;
}

.nextArrow {
  border-bottom: 3px solid;
  border-left: 3px solid;
  transform: rotate(-135deg);
  top: 50%;
  right: 2%;
  position: absolute;
  z-index: 5;
  border-color: $colorGrey3;
}

.arrows:hover {
  border-color: $colorWhite;
}
