/*#region fonts */
  $mainFontFamily:'Poppins', sans-serif;
/*#endregion */

/*#region fontSize */
  $mainFontSize: 10px;
/*#endregion */

/*#region colorBlack */
  $colorBlack: #000;
  $colorBlack1: #313131;
  $colorBlack2: radial-gradient(50% 50% at 50% 50%, #242528 0%, #040404 100%);
  $colorBlackHeaderBackground:#020202;
  $colorBlackFooterBackground: #020203;
/*#endregion */


/*#region colorGrey */
  $colorGreyMainBackground: #ffffff54;
  $colorGrey: #acacac;
  $colorGrey1: #8c8c8c;
  $colorGrey2: #ccc;
  $colorGrey3: #666;
  $colorGrey4: #838383;
  $colorGrey5: #4B4D4F;
  $colorGrey6: #EAE8EB;
/*#endregion */


/*#region colorGrey */
  $colorWhite: #fff;
  $colorWhite1: #f5f7ff;
  $colorWhite2: rgba(255, 255, 255, 0.5);
  $colorWhite3: rgba(255, 255, 255, 0.168);
  $colorWhite4: #ebebeb;
  $colorWhite5: #F5F7FF;
  $colorWhite6: #F2E9DC;
  $colorWhite7: #F5F9FF;
/*#endregion */

/*#region colorBlue */
  $colorBlueHover: #0156ffa4;
  $colorBlueActive: #0156ff74;
  $colorBlue1: #0444c4;
  $colorBlue2: #053aa4;
  $colorBlue3: #0156ff;
  $colorBlue4: #01a4ff;
  $colorBlue5: #0d6efd;
  $colorBlue6: #01a6ffa0;
  $colorBlue7: #00aeb8;
/*#endregion */

/*#region colorYellow */
$colorYellow: #FFB800;
$colorYellow1: #e3a405;
$colorYellow2: #d69a03;
/*#endregion */

/*#region colorRed */
  $colorDanger: #ff3860;
  $colorRed2: #c94d3f;
/*#endregion */

/*#region colorPurple */
  $colorPurple: #272560;
/*#endregion */

/*#region colorGreen */
  $colorGreen: #78a962;
/*#endregion */

/*#region fontWeight */
  $fontWeightExtaLight: 200;
  $fontWeightLight: 300;
  $fontWeightRegular: 400;
  $fontWeightMedium: 500;
  $fontWeightSemiBold: 600;
  $fontWeightBold: 700;
/*#endregion */
