/*#region fonts */
  $mainFontFamily:'Poppins', sans-serif;
/*#endregion */

/*#region fontSize */
  $mainFontSize: 10px;
/*#endregion */

/*#region colorBlack */
  $colorBlack: #000;
  $colorBlackHeaderBackground:#020202;
  $colorBlackFooterBackground: #020203;
/*#endregion */


/*#region colorGrey */
  $colorGreyMainBackground: #ffffff54;
  $colorGrey: #acacac;
  $colorGrey1: #8c8c8c;
  $colorGrey2: #ccc;
/*#endregion */


/*#region colorGrey */
  $colorWhite: #fff;
  $colorWhite1: #f5f7ff;
  $colorWhite2: rgba(255, 255, 255, 0.5);
  $colorWhite3: rgba(255, 255, 255, 0.168);
  $colorWhite4: #ebebeb;
/*#endregion */

/*#region colorBlue */
  $colorBlueHover: #0156ffa4;
  $colorBlueActive: #0156ff74;
  $colorBlue1: #0444c4;
  $colorBlue2: #053aa4;
  $colorBlue3: #0156ff;
  $colorBlue4: #01a4ff;
  $colorBlue5: #0d6efd;
  $colorBlue6: #01a6ffa0;
/*#endregion */

/*#region colorRed */
  $colorDanger: #ff3860;
/*#endregion */
