@import './utils/variables.scss';
@import './utils/mixins.scss';
@import './utils/placeholders.scss';

.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2rem;
  justify-items: center;
  margin-bottom: 1.5rem;

  @include onTablet {
    margin-bottom: 2rem;
  }

  @include onDesktop {
    margin-bottom: 4rem;
  }

  @include onMobile {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
