.section {
  display: none;

  @include onDesktop {
    display: block;
    margin-bottom: 5rem;
  }
}

.newsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  gap: 2rem;
  justify-content: center;
}

.title {
  @extend %sectionTitle;
  margin-bottom: 2.1rem;
}
